<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Fresno Swing Dance</title>
        <meta name="discription" content="Swing dancing in Fresno" />
        <link rel="stylesheet" href="/css/style.css" />
            <style>
                .announcement{
                    height: 5rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: #880838;
                    color: white;
                }
            </style>
    </head>
    <body>
        {% include "header.njk" %}
        <main>
            {{ content | safe }}
        </main>
        {% include "footer.njk" %}
    </body>
</html>