<div class="grid">
      <nav class="nav-grid">
        <a href="index.html" class="logo">
          <div class="logo-wrapper">
            <img
              id="site_logo"
              src="./img/fsd-logo.png"
              alt="fsd-logo"
            />
          </div>
        </a>

        <div class="banner">
          <h1>Fresno Swing Dance</h1>
          <div class="nav-links">
            <ul>
              <li>
                <a class="current-page" href="index.html">Home</a>
              </li>
              <li>
                <a href="about-us.html">About Us</a>
              </li>
              <li>
                <a href="lessons-events.html">Lessons & Events</a>
              </li>
              <li>
                <a href="contact-us.html">Contact Us</a>
              </li>
              <li>
                <a href="code-of-conduct.html">Code of Conduct</a>
              </li>
            </ul>
          </div>
          <div id="menu_button">
            <i class="fas fa-bars fa-lg"></i>
          </div>
					<div class="nav-dropdown" id="nav_dropdown">
						<ul>
							<li>
								<a class="current-page" href="index.html">Home</a>
							</li>
							<li>
								<a href="about-us.html">About Us</a>
							</li>
							<li>
								<a href="lessons-events.html">Lessons & Events</a>
							</li>
							<li>
								<a href="contact-us.html">Contact Us</a>
							</li>
							<li>
								<a href="code-of-conduct.html">Code of Conduct</a>
							</li>
						</ul>
					</div>
        </div>
      </nav>